[Unit]
Description=SPDK NVMe-OF Target Service
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/nvmf $ARGS >> $LOGFILE 2>&1
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=nvmf.service
